@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary: #eee;
  --mainColor: #071013;
  --highlightColor: #862009; /* 6f1a07 */
  --mainFont: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--mainFont);
  background: #eee;
}

.services,
.products,
.comparison,
.my-profile {
  display: flex;
  min-height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
  color: #fff;
}

.services {
  background: url("assets/images/porsche-2.jpg") center/cover no-repeat;
  min-height: calc((100vh - 60px) / 2);
  flex-direction: column;
}

.services > h1 {
  font-size: 2.25rem;
}

.services > p {
  text-align: center;
  font-weight: bold;
  margin: 1rem 5rem;
}

.comparison {
  background: var(--mainColor);
  font-size: 3rem;
}

.my-profile {
  background: url("assets/images/bg-2.jpg") center/cover no-repeat;
  font-size: 1rem;
}

.products {
  background: url("assets/images/img-1.jpg") center/cover no-repeat;
  font-size: 3rem;
}

.showcase {
  background: url("assets/images/img-home.jpg") center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 135px);
  color: #fff;
  position: relative;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  align-items: flex-start;
}

.z-index {
  z-index: 1;
}

.card {
  background-color: #eee;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(64, 63, 76, 0.21);
  padding: 20px;
  margin: 5px;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-cl {
  flex-direction: column;
}
.grid .flex-cl > i {
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.mob-2 {
  margin-bottom: 2rem;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 960px) {
  .services > h1 {
    font-size: 2rem;
  }

  .services > p {
    text-align: left;

    font-weight: bold;
    margin: 1rem 2rem;
  }
}
